.side-bar__list
{
    list-style: none;
}



.side-bar__item
{
    display: block;
}


.side-bar__item:not(:last-child)
{
    margin-bottom: 1.5rem;
}


.side-bar__link:link,
.side-bar__link:visited
{
    text-decoration: none;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 200;
    transition: .3s;
    display: inline-block;
    width: 100%;
}

.side-bar__link:hover
{
    color: #D32F2F;
    transform: translateY(-.2rem);
    text-shadow: 0rem .3rem .7rem rgba(0, 0, 0, 0.3);
}



/**********************************************
MEDIA QUERIES       1200px
**********************************************/

@media only screen and (max-width:1200px)
{
    .side-bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .side-bar__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: 0;
    }

    .side-bar__item:not(:last-child)
    {
        margin-bottom: 0rem;
    }
}


/**********************************************
MEDIA QUERIES       650px
**********************************************/

@media only screen and (max-width:650px)
{
    .side-bar
    {
        display: flex;
        flex-direction: column;
    }

    .side-bar__list
    {
        margin-top: 1.5rem;
        width: 100%;
    }
}